# vim: set ft=editorconfig:

# there should be two symlinks to this file:
# ./editorconfig without the leading dot (.) to discover this file easier within editors that ignore "dotfiles"
# ~/.editorconfig for a user's home directory to cover all files (that has no closer .editorconfig) not just this repo

# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

# inspired by https://github.com/Dreamscapes/makefiles/blob/master/.editorconfig
[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
